<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageTargetFile" value="[file location]"/>
    <add key="PageSourceFile" value="[file location]"/>
    <add key="PermissionTargetFile" value="[file location]"/>
    <add key="PermissionSourceFile" value="[file location]"/>
    <add key="PermissionCategoryTargetFile" value="[file location]"/>
  </appSettings>
</configuration>