<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageTargetFile" value="[redacted path]\data\pages.dat"/>
    <add key="PageSourceFile" value="[redacted path]\data\pagessource.txt"/>
    <add key="PermissionTargetFile" value="[redacted path]\data\permissions.dat"/>
    <add key="PermissionSourceFile" value="[redacted path]\data\permissionssource.txt"/>
    <add key="PermissionCategoryTargetFile" value="[redacted path]\data\permissioncats.dat"/>
  </appSettings>
</configuration>