<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="[redacted]"/>
    <add key="ThumbnailHeight" value="75"/>
    <add key="ThumbnailWidth" value="100"/>
    <add key="ModuleWidth" value="168"/>
    <add key="MaxModuleHeight" value="500"/>
    <add key="PublicStandardPage" value="page.aspx"/>
    <add key="PageIdPrefix" value="lotw36p"/>
    <add key="FileIdPrefix" value="lotw36f"/>
    <add key="ImageIdPrefix" value="lotw36i"/>

    <add key="PublicWebsiteRoot" value="/foundation/" />
    <!-- <add key="PublicWebsiteRoot" value="/" /> -->
    <add key="FilesDirectoryUrl" value="files/" />
    <add key="DStoryImagesDirectoryUrl" value="files/dstoryimages/" />
    <add key="EventImagesDirectoryUrl" value="files/eventimages/" />
    <add key="HeaderImagesDirectoryUrl" value="files/headerimages/" />
    <add key="MenuImagesDirectoryUrl" value="files/menuimages/" />
    <add key="ModuleImagesDirectoryUrl" value="files/moduleimages/" />
    <add key="NewsImagesDirectoryUrl" value="files/newsimages/" />

  </appSettings>
</configuration>
