<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AutoEmail" value="[redacted]"/>
    <add key="AccessDeniedPage" value="~/login.aspx?Message=noaccess"/>
    <add key="AdminWebsiteRoot" value="/foundation_webadmin/"/>
    <add key="CmsLogoImage" value="_system/images/layout/cmslogo.gif"/>
    <add key="CmsPageTitle" value="UNI Foundation CMS : "/>
    <add key="CmsTitle" value="UNI Foundation Content Management System v3.0"/>
    <add key="ConnectionString" value="server=[redacted]"/>
    <add key="DStoryImagesDirectoryUrl" value="files/dstoryimages/"/>
    <add key="DStoryImageHeight" value="50"/>
    <add key="DStoryImageWidth" value="50"/>
    <add key="ErrorPage" value="~/error.aspx"/>
    <add key="FilesDirectoryUrl" value="files/"/>
    <add key="HandleError" value="false"/>
    <add key="HeaderImageLeftWidth" value="168"/>
    <add key="HeaderImageLeftPhotoHeight" value="107"/>
    <add key="HeaderImageLeftLineHight" value="24"/>
    <add key="HeaderImagesDirectoryUrlLeft" value="files/headerimages_left/"/>
    <add key="HeaderImagesDirectoryUrlRight" value="files/headerimages_right/"/>
    <add key="InfoCookieName" value="FoundationCmsWebsiteUserInfo"/>
    <add key="LoginPage" value="~/login.aspx"/>
    <add key="MaxModuleHeight" value="500"/>
    <add key="ModuleImagesDirectoryUrl" value="files/moduleimages/"/>
    <add key="ModuleWidth" value="168"/>
    <add key="NewsImagesDirectoryUrl" value="files/newsimages/"/>
    <add key="NewsImageHeight" value="75"/>
    <add key="NewsImageWidth" value="75"/>
    <add key="PageFile" value="[redacted]\WebAdmin\_data\pages.dat"/>
    <add key="PermissionCategoryFile" value="[redacted]\WebAdmin\_data\permissioncats.dat"/>
    <add key="PermissionFile" value="[redacted]\WebAdmin\_data\permissions.dat"/>
    <add key="PublicMenuLevels" value="3"/>
    <add key="PublicWebsiteRoot" value="/foundation/"/>
    <add key="ThumbnailHeight" value="75"/>
    <add key="ThumbnailWidth" value="100"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="25600"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation defaultLanguage="vb" debug="false" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="FoundationCmsWebsite" path="/" loginUrl="login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
</configuration>